.balance_card {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border-radius: 1.8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  padding: 30px 35px;
}

.balance_card > h1 {
  color: var(--font-color);
  font-weight: 800;
  margin: 0;
  font-family: var(--text-font);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.balance_card > h2 {
  color: var(--font-color);
  font-weight: 800;
  margin: 0;
  font-family: var(--text-font);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
}